<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JavaScript</title>
    <style type="text/css">
        button {
            background-color: green;
            color: white;
            width: 100px;
            height: 50px;
            border-radius: 20px;
            font-size: 20px;
        }
    </style>
    <script src="js/jquery-3.6.0.min.js"></script>
    <script type="text/javascript"> 
        $(document).ready(function(){
            $('#btn').on({
                mouseover:function(){
                    $(this).css('opacity', 0.5);
                },
                mouseout:function() {
                    $(this).css('opacity', 1);
                }
            });
        });

    </script>
</head>
<body>
    <button id="btn">버튼</button>
</body>
</html>